<h1 class="title is-2">
  <%= @manga.name %>
</h1>

<p>
  <strong>Chapter:</strong>
  <%= @manga.chapter %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @manga.volume %>
</p>

<p>
  <strong>Status:</strong>
  <%= @manga.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @manga.score %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @manga.popularity %>
</p>

<p>
  <strong>Published:</strong>
  <%= @manga.publish %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @manga.synopsis %>
</p>

