<h1 class="title is-2">
  <%= @manga.name %>
</h1>

<% content_for(:html_title) {@manga.name + " | Manga"} %>

<p>
  <strong>Chapter:</strong>
  <%= @manga.chapter %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @manga.volume %>
</p>

<p>
  <strong>Status:</strong>
  <%= @manga.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @manga.score %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @manga.popularity %>
</p>

<p>
  <strong>Genre</strong>

  <%= @manga.genres.map { | genre | link_to(genre.name, genre_path(genre.id)) }.join(", ").html_safe %>
</p>

<p class="mb-5">
  <strong>Published:</strong>
  <%= @manga.publish %>
</p>

<article class="message is-dark">
  <div class="message-header">
    <p>
      Synopsis
    </p>
  </div>

  <div class="message-body">
    <%= @manga.synopsis %>
  </div>
</article>