<p id="notice">
  <%= notice %>
</p>

<h1 class="title is-1">
  <%= @page.title %>
</h1>

<p class="mb-5">
  <%= @page.content %>
</p>

<p class="mb-5">
  I will be using two datasets for my application. I will be using a dataset for
  the Anime section and one for the Manga section. The two datasets will fall
  under the GENREs table as they both have a genre column with practically the
  same data. I will be downloading the CSV file from Kaggle and from my seed
  script I will populate and generate the model with the data. I will only take
  the columns with necessary information to describe and illustrate the data.
  Mostly its name and title chapter, volume, status, popularity, synopsis for
  Manga. Columns like name, episode, status, season, duration, rating, score,
  description for Anime.
</p>

<h2 class="title is-3">
  Anime
</h2>

<ul class="mb-5">
  <li>
    <strong>Type:</strong>
    Anime can have one Type. Each Type is for many Anime’s.
  </li>

  <li>
    <strong>Genre:</strong>
    Anime can have many Genres through Anime Genre table. Genre can have
    many Anime’s through Anime Genre table.
  </li>

  <li>
    <strong>Anime Genre:</strong>
    Join table between the Many to Many relationships with Anime
    and Genre.
  </li>

  <li>
    <strong>Producer:</strong>
    Anime can have many Producers through Anime Producer table.
    Producer can animate many Anime’s through Anime Producer table.
  </li>

  <li>
    <strong>Anime Producer:</strong>
    Join table between the Many to Many relationships with Anime
    and Producer.
  </li>

  <li>
    <strong>Studio:</strong>
    Anime can have many Studios through Anime Studio table. Studio can
    produce many Anime’s through Anime Studio table.
  </li>

  <li>
    <strong>Anime Studio:</strong>
    Join table between the Many to Many relationships with Anime
    and Studio.
  </li>
</ul>

<h2 class="title is-3">
  Manga
</h2>

<ul class="mb-5">
  <li>
    <strong>Type:</strong>
    Manga can have one Type. Each Type is for many Manga.
  </li>

  <li>
    <strong>Genre:</strong>
    Manga can have many Genres through Manga Genre table. Genre can have many
    Manga through Manga Genre table.
  </li>

  <li>
  <strong>Manga Genre:</strong>
  Join table between the Many to Many relationships with Manga and Genre
  </li>
</ul>

<div>
  <%= link_to "Edit this page", edit_page_path(@page) %> |
  <%= link_to "Back to pages", pages_path %>
</div>
