<h1 class="title is-2"><%= @anime.name %></h1>

<% content_for(:html_title) {@anime.name} %>

<p></p>
  <strong>Episode:</strong>
  <%= @anime.episode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @anime.status %>
</p>

<p>
  <strong>Season:</strong>
  <%= @anime.season %>
</p>

<p>
  <strong>Duration:</strong>

  <%= @anime.duration %>
</p>

<p>
  <strong>Rating:</strong>

  <%= @anime.rating %>
</p>

<p>
  <strong>Genre:</strong>

  <%= @anime.genres_list %>
</p>

<p>
  <strong>Score:</strong>

  <%= @anime.score %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @anime.vote %>
</p>


<p class="mb-5">
  <strong>Type:</strong>
  <%= link_to @anime.type.name, @anime.type %>
</p>

<article class="message is-dark">
  <div class="message-header">
    <p>
      Description
    </p>
  </div>

  <div class="message-body">
    <%= @anime.description %>
  </div>
</article>