
<% content_for(:html_title) {@anime.name + " | Anime"} %>


<section class="section">
  <h1 class="title is-2 mb-6">
    <%= @anime.name %>
  </h1>

  <div class="columns is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen is-1-fullhd">
    <div class="column is-one-third">
      <p>
        <strong>Episode:</strong>
        <%= @anime.episode %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @anime.status %>
      </p>

      <p>
        <strong>Season:</strong>
        <%= @anime.season %>
      </p>

      <p>
        <strong>Duration:</strong>

        <%= @anime.duration %>
      </p>

      <p>
        <strong>Rating:</strong>

        <%= @anime.rating %>
      </p>

      <p>
        <strong>Genre:</strong>

        <%= @anime.genres.map { | genre | link_to(genre.name, genre_path(genre.id)) }.join(", ").html_safe %>
      </p>

      <p>
        <strong>Studio:</strong>

        <%= @anime.studios.map { | studio | link_to(studio.name, studio_path(studio.id)) }.join(", ").html_safe %>
      </p>

      <p>
        <strong>Producer:</strong>

        <%= @anime.producers.map { | producer | link_to(producer.name, producer_path(producer.id)) }.join(", ").html_safe %>
      </p>

      <p>
        <strong>Score:</strong>

        <%= @anime.score %>
      </p>

      <p>
        <strong>Vote:</strong>
        <%= @anime.vote %>
      </p>


      <p class="mb-5">
        <strong>Type:</strong>
        <%= link_to @anime.type.name, @anime.type %>
      </p>
    </div>

    <div class="column">
      <div class="box">
        <%= @anime.description %>
      </div>
    </div>
  </div>
</section>