<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "DIBBY", root_path, class: "navbar-item", style: "font-weight:bold; font-size: 28px;" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Anime", animes_path, class: "navbar-item" %>

      <%= link_to "Manga", mangas_path, class: "navbar-item" %>

      <%= link_to "Genre", genres_path, class: "navbar-item" %>

      <%= link_to "Studio", studios_path, class: "navbar-item" %>

      <%= link_to "Producer", producers_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <% cms_pages.each do | page | %>
            <%= link_to page.title, permalink_path(page.permalink), class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= form_with(url: search_animes_path, method: :get, local: true, class: "navbar-end") do  %>
      <div class="field is-grouped mb-5">
        <div class="control is-expanded">
          <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for Animes, Mangas, and more...") %>
        </div>
        <div class="control">
          <%= submit_tag("Search", class: "button is-primary") %>
        </div>
      </div>
    <% end %>

    <%# <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div> %>
  </div>
</nav>